.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.directory.parent {
	font-weight: bold;
	font-size: larger;
}

.parent-directory-hint {
	float: right;
	white-space: nowrap;
}

.sid {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.picture-container {
	position: absolute;
	top: 40px;
	right: 0px;
}

.picture {
	max-width: 160px;
	opacity: 0.5;
}

.button-box {
	padding: 2px;
}

.custom-control-label,.custom-range,.value,label,.custom-select {
	margin: 8px;
}

.audio {
	padding: 16px 0;
}

.playlist-item {
    cursor:pointer;
    color:#0d6efd;
    text-decoration:underline;
}

.sid-file {
	padding-left: 8px;
}

.highlighted {
	background-color: lightgray;
}

.settings-box {
	padding: 2px;
	display: flex;
	flex-wrap: wrap;
}

label {
	vertical-align: top;
}

button {
	margin: 2px !important;
}