.stil-subtune-header, .stil-name-header, .stil-author-header, .stil-title-header, .stil-artist-header {
	font-weight: bold;
	font-size: larger;
}

.stil-comment {
	font-style: italic;
}
												
@font-face {
    font-family: 'C64 Elite Mono';
    src: url('/static/fonts/C64EliteMono-Style.woff2') format('woff2'),
        url('/static/fonts/C64EliteMono-Style.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.c64-font {
    font-family: 'C64 Elite Mono';
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    font-size: 0.7em;
}

tr > [aria-sort=none], tr > [aria-sort=ascending], tr > [aria-sort=descending] {
	background-position: right top !important;
}

div i {
	margin-right: 8px;
}

.directory.parent {
	font-weight: bold;
	font-size: larger;
}

.parent-directory-hint {
	float: right;
	white-space: nowrap;
	font-weight: lighter;
	font-style: italic;
	
}

.sid {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.picture-container {
	position: absolute;
	top: 0px;
	right: 0px;
}

.picture {
	max-width: 160px !important;
	opacity: 0.5;
}

.button-box {
	padding: 4px;
}

.custom-control-label,.custom-range,.value,label,.custom-select {
	margin: 8px;
}

.audio {
	padding-bottom: 16px;
}

.playlist-item {
    cursor:pointer;
    color:#0d6efd;
    text-decoration:underline;
    word-break: break-all;
}

.sid-file {
	padding-left: 8px;
}

.highlighted {
	background-color: lightgray;
}

.settings-box {
	padding: 2px;
	display: flex;
	justify-content: end;
}

.right {
	float: right;
	text-align: end;
	width: auto !important;
	margin-left: 4px;
}

.setting {
	border-bottom: 1px dashed lightgray;
}

label {
	vertical-align: top;
}

button {
	margin: 2px !important;
}