.text-italic {
	font-style: italic;
}

.current-sid {
	white-space: pre-line;
	font-style: italic;
	font-size: small;
	padding: 4px 16px;
}

.stil-subtune-header, .stil-name-header, .stil-author-header, .stil-title-header, .stil-artist-header {
	font-weight: bold;
	font-size: larger;
}

.stil-comment {
	font-style: italic;
}
												
@font-face {
    font-family: 'C64 Elite Mono';
    src: url('/static/fonts/C64EliteMono-Style.woff2') format('woff2'),
        url('/static/fonts/C64EliteMono-Style.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.c64-font {
    font-family: 'C64 Elite Mono';
    font-weight: normal;
    font-style: normal;
    white-space: nowrap;
    font-size: 0.7em;
}

tr > [aria-sort=none], tr > [aria-sort=ascending], tr > [aria-sort=descending] {
	background-position: right top !important;
}

div i {
	margin-right: 8px;
}

.directory.parent {
	font-weight: bold;
	font-size: larger;
}

.parent-directory-hint {
	float: right;
	white-space: nowrap;
	font-weight: lighter;
	font-style: italic;
	
}

.sid {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.picture-container {
	position: absolute;
	top: 0px;
	right: 0px;
}

.picture {
	max-width: 160px !important;
	opacity: 0.75;
}

.button-box {
	padding: 4px;
}

.custom-control-label,.custom-range,.value,label,.custom-select {
	margin: 8px;
}

.audio {
	padding-bottom: 16px;
}

.playlist-item {
    cursor:pointer;
    color:#0d6efd;
    text-decoration:underline;
    word-break: break-all;
}

.sid-file {
	padding-left: 0px;
}

.highlighted {
	background-color: lightgray;
}

.settings-box {
	padding: 2px;
	display: flex;
	justify-content: end;
}

.right {
	float: right;
	text-align: end;
	width: auto !important;
	margin-left: 4px;
}

.setting {
	border-bottom: 1px dashed lightgray;
}

label {
	vertical-align: top;
}

button {
	margin: 2px !important;
}

.field-category,.field-name,.field-event,.field-released,.field-handle,.field-rating {
	padding-right: 0.3em !important;	
}

ol.striped-list {
	padding-inline-start: 1.25rem;
}

ol.striped-list > li:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05) ;
}

ol.striped-list > li {
    padding: 6px;
}

.custom-select {
	background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.075rem center/8px 10px !important;
}
