.video {
  height: 100%;
  width: 100%;
}

.outer {
  position: relative;
}

.inner {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

#video-container {
	width: 100%;
}

.right-button-container div {
	display: flex;
	justify-content: end;
}

.left-button-container,.right-button-container {
	width: 17%;
}

.left-button-container {
	float: left;
	margin-top: 25px;
}

.right-button-container,.right {
	float: right;
}

.video-wrapper,.video-bar,.barcode-container {
	width: 65%;
	margin: 0px auto;
}

.barcode-container {
	border: 1px dotted;
}

.button-container {
	margin: 2px 0px; 	
}

.barcode-container img {
	width: 100%;
}

.insert-disk .key {
	font-size: 32px;
}

::selection {
	background-color: none;
	color: inherit;
}

body {
	background-color: #D5D9D5;
}

.keyboard {
	width: 660px;
	height: 280px;
	background-color: #938c78;
	border-radius: 9px;
	padding: 30px;
	color: #eee;
	margin: 0 auto;
	position:relative;
}

.logo {
	width: 220px;
	height: 40px;
	background-color: #595858;
	font-weight: 300;
	font-style: oblique;
	font-size: 14px;
	line-height: 40px;
	text-align: center;
	margin: -20px auto 20px 16px;
	border-radius: 400px;
}

.lights {
	position: absolute;
	top: 12px;
	right: 120px;
}

.lights span {
	margin: 0 20px 0 20px;
	padding: 0;
	text-align: center;
}

.lights span:after {
	content: "";
	width: 10px;
	height: 10px;
	top: 10px;
	margin-left: -12px;
	background-color: red;
	position: absolute;
	border-radius: 8px;
}

.key {
	width: 40px;
	height: 40px;
	display: block;
	background-color: #333;
	text-align: left;
	padding-left: 8px;
	line-height: 29px;
	border-radius: 2px;
	float: left;
	margin-left: 2px;
	margin-bottom: 2px;
	cursor: pointer;
	transition: box-shadow 0.7s ease;
}

.function {
	width: 48px;
	height: 40px;
	text-align: center;
	display: block;
	background-color: #595858;
	padding-left: 8px;
	line-height: 29px;
	border-radius: 2px;
	margin-left: 2px;
	margin-bottom: 2px;
	cursor: pointer;
	transition: box-shadow 0.7s ease;
}

.section-a {
	float: left;
}

.section-b {
	float: left;
	margin-left: 16px;
}

.dual {
	font-size: 14px;
	line-height: 20px;
	width: 30px;
}

.tab {
	width: 50px;
	line-height: 40px;
	font-size: 13px;
}

.letter {
	width: 30px;
}

.enter {
	width: 74px;
	line-height: 40px;
	text-align: center;
	padding-left: 0;
}

.clr-home {
	width: 44px;
	line-height: 20px;
	text-align: center;
	padding-left: 0;
	font-size: 14px;
}

.ins-del {
	width: 36px;
	line-height: 20px;
	text-align: center;
	padding-left: 0;
	font-size: 14px;
}

.restore {
	width: 64px;
	line-height: 40px;
	text-align: center;
	padding-left: 0;
}

.uppercase {
	text-transform: uppercase;
	text-shadow: 2px 2px red;
}

.shift.left {
	width: 48px;
	line-height: 40px;
	font-size: 13px;
}

.shift.right {
	width: 48px;
	line-height: 40px;
	font-size: 13px;
}

.ctrl {
	width: 50px;
	line-height: 40px;
	font-size: 13px;
}

.space {
	margin-left: 94px;
	width: 364px;
}

.key:hover {
	box-shadow: 0px 0px 10px #14B524;
	z-index: 1000;
}

.fn-key {
}
